/* Write your CSS here */
.appList-container {
  background-color: #ffffff;
  padding: 20px;
  font-size: 26px;
  font-family: 'Bree Serif';
  font-weight: 800;
  list-style-type: none;
  border-radius: 12px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
}
.image-apps {
  height: 100px;
  width: 100px;
}
@media (max-width: 767px){
  .appList-container{
    font-size: 16px;
    width: 100px;
    height: 120px;
  }
  .image-apps{
    height: 40px;
    width: 40px;
  }
}